// Second component
table(width=max_w align="center" style="background-color:#1E1C1C" class="mobile-table")&attributes(tableAtt)
  tr(class="mobile-hide")
    +hSpacer(25)
    td
      table&attributes(tableAtt)
        tr
          td
            table&attributes(tableAtt)
              tr
                td(width="287" valign="top")
                  table&attributes(tableAtt)
                    +vSpacer(35)
                    tr
                      td(align="left")
                        a(href="http://www.google.com")
                          img(src="img/logo.png" alt="Logo")
                    +vSpacer(10)
                    tr
                      td
                        font(style="color: #ffffff;font-size:13px;") For your postmenopausal patients#[br] with a recent osteoporotic fracture:
                    +vSpacer(20)
                    tr
                      td
                        font(style="font-family: Arial,sans-serif; text-transform: uppercase; font-size: 28px; line-height: 29px;" color=bright_orange) 
                          strong CONSIDER TYMLOS&nbsp;TO HELP REDUCE THE RISK OF FRACTURES<sup style="line-height: 0; font-size: 65%; vertical-align: super; mso-text-raise: 60%;">1</sup>
                    +vSpacer(50)
                    tr
                      td
                        a(href="#" style="font-size: 13px;color:#ffffff;") See the results of key clinical trials below
                td(width="289")&attributes(tdCenter)
                  img(src="img/woman-image.jpg")
  tr(style="display:none;" class="mobile-show")
    +hSpacer(10)
    td
      table&attributes(tableAtt)
        tr
          td
            table(class="mobile-table")&attributes(tableAtt)
              tr
                td
                  table
                    tr
                      td(width="287" valign="top")
                        table&attributes(tableAtt)
                          +vSpacer(35)
                          tr
                            td(align="left")
                              a(href="http://www.google.com")
                                img(src="img/logo.png" alt="Logo")
                          +vSpacer(10)
                          tr
                            td
                              font(style="color: #ffffff;font-size:13px;") For your postmenopausal patients#[br] with a recent osteoporotic fracture:
                      td(width="289")
                        table&attributes(tableAtt)
                          +vSpacer(35)
                          tr
                            td
                              font(style="font-family: Arial,sans-serif; text-transform: uppercase; font-size: 28px; line-height: 29px;" color=bright_orange) 
                                strong CONSIDER TYMLOS&nbsp;TO HELP REDUCE THE RISK OF FRACTURES<sup style="line-height: 0; font-size: 65%; vertical-align: super; mso-text-raise: 60%;">1</sup>
        +vSpacer(20)
        tr
          td()
            table(width="100%")&attributes(tableAtt)
              tr
                td(align="center")
                  img(src="img/woman-image.jpg")  
        +vSpacer(30)
        tr
          td
            a(href="#" style="font-size: 13px;color:#ffffff;") See the results of key clinical trials below
        +vSpacer(20)
    +hSpacer(10)
          
