// HEADER COMPONENT
table(width=max_w align="center" class="mobile-table")&attributes(tableAtt)
  tr
    td
      table(width="100%")&attributes(tableAtt)
        +vSpacer(26)
        tr
          td
            table&attributes(tableAtt)
              tr
                +hSpacer(19)
                td
                  font(style="font-size:13px;line-height:18px;")  Can't see this Email? View it in your 
                    a(href="#" style="color:"+gold+";text-decoration:none" color=gold) Browser
        +vSpacer(18)
        tr
          td&attributes(tdCenter)
            table(bgcolor=gold)&attributes(tableAtt)
              tr
                td(align="left")
                  img(src=img_path+"LOGO.png" width="140" height="50")
                td(width="395" align="right")
                  table&attributes(tableAtt)
                    +vSpacer(18)
                    tr
                      td
                        table&attributes(tableAtt)
                          tr
                            td(align="right")
                              table&attributes(tableAtt)
                                tr
                                  td(style="font-size: 13px;line-height:16px;")
                                    a(style="color:#282828;" href="#") Home
                                  +hSpacer(21)
                                  td(style="color:#282828;font-size: 13px;line-height:16px;")
                                    a(style="color:#282828;" href="#") Shop
                                  +hSpacer(21)
                                  td(style="color:#282828;font-size: 13px;line-height:16px;")
                                    a(style="color:#282828;" href="#") Contact
                    +vSpacer(16)
                +hSpacer(66)
        +vSpacer(17)


        
        