@media only screen and (max-width: 699px){
  .small-p{
    font-size: 17px!important;
  }
  .title{
    font-size: 24px!important;
  }

  .v_small>td{
    height: 4px!important;
    line-height: 4px!important;
  }

  .graphs_container td.col{
    width: 49%;
  }

  .graphs_separator{
    /*width: 4px!important;*/
    width: 1%;
  }


  .graph_title{
    font-size: 16.5px!important;
  }

  .graph_spacer>td{
    height: 26px!important;
    line-height: 26px!important;
  }


  .wrapper{
    width: 100%!important;
  }
  .header_l{
    width: 300px!important;
  }
  .f_row{
    width: 100%!important;
    display: block!important;
  }

  .mob_vSpacer2>td{
    height: 15px !important;
    line-height: 15px!important;
  }

  .mob_vSpacer>td{
    height: 10px !important;
    line-height: 10px!important;
  }

  .padding_left{
    padding: 0 0 0 0!important;
  }

  .padding-l{
    padding-left: 0!important;
  }

  .footer_space{
    width: 38px!important;
  }

  .mobile_padding{
    width: 20px!important;
  }

  .mobile_padding_s{
    width: 10px!important;
  }

  table td[class="column"] {
    width: 100%!important;
    display: block!important;
  }

  table td[class="column_spacer"]{
    /*display:none;*/
    width: 100%!important;
    display: block!important;
    height: 40px!important;
  }

  .deviceWidth{
    width: 480px!important;
    padding: 0;
  }

  img.fluidImage {
    max-width: 100%;
    height: auto !important;
  }

  *[class=hide]{
    display: none !important;
    width: 0px !important
  }

  *[class=show]{
    width: 100% !important;
    height: auto !important;
    display: table !important
  }

  .border-b{
    border-bottom: 0!important;
    text-decoration: underline;
  }

  .border-r{
    border-right: 0!important;
  }
  .img_full{
    width: 100%!important;
  }
}

@media only screen and (max-width: 480px){

  /*.graph_spacer>td{
    height: 26px!important;
    line-height: 26px!important;
  }*/

  .footer_space{
    width: 30px!important;
  }

  .title{
    font-size: 24px!important;
  }

  .header_l{
    width: 250px!important;
  }

  .graph_title{
    font-size: 14px!important;
  }

  .deviceWidth{
    width: 100%!important;
    padding: 0;
  }

}

[style*="Arial"] {
  font-family: Arial, sans-serif, Helvetica !important;
}

/*@media only screen and (max-width: 701px){
  .deviceWidth{
    width:440px!important;
    padding:0;
  }
}*/
